VITE_APP_VERSION=0.0.0                  # Currently, the value is set by excecuting the readVersion.js script in dev, build and build-dev scripts. Note: If the build script is not able to execute readVersion.js in a production environment, this value may need to be set manually. However, some production servers may allow setting environment variables through configuration, which could be used to set VITE_APP_VERSION instead.
VITE_GOOGLE_ANALYTICS_ID=               # Leave blank to disable console logging in development/build-dev