#logContainer {
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  padding: .8rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--background-color-secondary);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.level {
  font-size: 1.2rem;
  font-weight: 900;
  background-color: rgba(0, 0, 0, .7);
  padding: .01rem .2rem;
}

.date {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 700;
}

.mmhg {
  color: var(--text-color);
  font-weight: 700;
}

.bpm {
  color: var(--text-color);
  font-weight: 700;
}

.leyend {
  color: var(--text-color);
  font-size: 0.8rem;
}

.levelNormal {
  color: green;
}

.levelElevated {
  color: yellowgreen;
}

.levelStage1 {
  color: orange;
}

.levelStage2 {
  color: pink;
}

.levelStage3,
.levelAisolated {
  color: tomato;
}

.pillIcon {
  width: 1.5rem;
  height: 1.5rem;
}

#iconsContainer {
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
}