#logContainer {
  border-radius: 0.8rem;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  padding: .8rem;
  font-size: 2rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#level {
  font-size: 1.2rem;
}

#date {
  color: gray;
  font-size: 1rem;
}

#mmhg {
  color: white;
}

#bpm {
  color: white;
  font-size: 1.5rem;
}

#leyend {
  color: gray;
  font-size: 0.8rem;
}

.levelNormal {
  color: green;
}

.levelElevated {
  color: yellowgreen;
}

.levelStage1 {
  color: orange;
}

.levelStage2 {
  color: pink;
}

.levelStage3,
.levelAisolated {
  color: tomato;
}

.pillIcon {
  width: 1.5rem;
  height: 1.5rem;
}

#iconsContainer {
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
}