.addEditLogContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.content {
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  touch-action: pan-y pinch-zoom;
}

.content h2 {
  margin: 0 auto;
  font-size: 1.2rem;
}

.content::-webkit-scrollbar {
  display: none;
}

.button {
  background-color: transparent;
  color: var(--light-text);
  border: none;
  cursor: pointer;
  font-size: .9rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

.button:hover,
.button:focus,
.button:active {
  text-decoration: none;
  outline: none;
  border: none;
}

.cancelButton {
  color: var(--color-primary);
  font-weight: bold;
}

.addButton {
  color: var(--text-color-secondary);
  font-weight: bold;
  cursor: pointer;
}

.row {
  background-color: var(--light-bg-secondary);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.row.column {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.row>div {
  flex-basis: 33.33%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.inputContainer label {
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color);
}

.inputContainer input {
  padding: 5px;
  background-color: var(--light-bg-secondary);
  color: var(--text-color);
  font-size: 2rem;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  border: none;
  text-align: center;
}

.inputContainer input::placeholder {
  color: #ccc;
}

.inputContainer textarea {
  padding: 5px;
  color: var(--text-color);
  background-color: var(--light-bg-secondary);
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  border: none;
  resize: none;
  outline: none;
  background-image: url('../../assets/pencil.png');
  background-size: 1.1rem 1.1rem;
  background-repeat: no-repeat;
  background-position: top right;
}

.inputContainer textarea::placeholder {
  color: #ccc;
}

.fullWidth {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin-bottom: 0;
}

.dateContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dateContainer input {
  border: 1px solid #ccc;
  background-color: #efefef;
  color: var(--text-color);
  font-size: 1rem;
  box-sizing: border-box;
  font-family: inherit;
}

.pillContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .5rem 0;
}

.pillContainer input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--light-bg-secondary);
  cursor: pointer;
  width: 2rem;
  height: 1rem;
  border: 1px solid var(--light-text-secondary);
  border-radius: 1rem;
  position: relative;
}

.pillContainer input[type="checkbox"]:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: .8rem;
  height: .8rem;
  background-color: var(--light-bg-secondary);
  border: 1px solid var(--light-text-secondary);
  border-radius: 1rem;
  transition: transform 0.2s ease-in-out;
}

.pillContainer input[type="checkbox"]:checked:before {
  transform: translateX(1rem);
  background-color: var(--color-primary);
}

.pillIcon {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.pillLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
}

.pillLabel:hover {
  background-color: rgb(253, 250, 250);
}