.addButtonContainer {
  position: fixed;
  bottom: 1rem;
  right: 0;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 0 auto;
  padding: 0;
  border: none;
}

.imgContainer {
  margin: 0 auto;
  max-width: 375px;
  width: 375px;
  padding: 0 1rem 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.imgContainer img {
  background-color: var(--color-primary);
  padding: 10px;
  cursor: pointer;
  border-radius: 35%;
  width: 4rem;
  height: 4rem;
  border: none;
}