#addButton {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: tomato;
  padding: 10px;
  cursor: pointer;
  border-radius: 35%;
  width: 4rem;
  height: 4rem;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
}