.bloodPressureLevelsContainer {
  margin-top: .5rem;
}

.title {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.columnHeaders {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem .4rem .6rem .4rem;
  font-weight: bold;
  text-align: center;
}

.columnHeaders span {
  flex-basis: 33.33%;
}

.columnHeaders span:nth-child(1) {
  text-align: left;
}

.row {
  display: flex;
  padding: 0.5rem;
  color: var(--light-text-tertiary);
  justify-content: space-between;
  text-align: center;
}

.row span {
  flex-basis: 33.33%;
}

.row span:nth-child(1) {
  text-align: left;
}

.rowTop {
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}

.rowBottom {
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

.source {
  margin-top: .2rem;
  margin-left: 1rem;
  font-weight: bold;
  font-size: .7rem;
}

.source a {
  color: var(--color-primary);
}

.source a:hover,
.source a:visited,
.source a:active,
.source a:link,
.source a:focus,
.source a:target {
  color: var(--color-primary);
  text-decoration: none;
}

.disclaimer {
  margin-top: 1rem;
  text-align: center;
  font-size: .8rem;
  color: var(--text-color-secondary);
}

.levelNormal {
  background-color: var(--level-normal);
}

.levelElevated {
  background-color: var(--level-elevated);
}

.levelStage1 {
  background-color: var(--level-stage1);
}

.levelStage2 {
  background-color: var(--level-stage2);
}

.levelStage3 {
  background-color: var(--level-stage3);
}

.levelAisolated {
  background-color: var(--level-aisolated);
}