.titleContainer {
  display: flex;
  align-items: center;
}

.logo {
  border-radius: 1.563rem;
  width: 1.875rem;
  height: 1.875rem;
  margin-right: 0.3rem;
}

.appTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  font-size: 1rem;
}

.appTitle h1 {
  margin: 0;
  line-height: 1;
  font-size: 1.25rem;
}

.appTitle span {
  font-size: .6rem;
}