.bottomContainer {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%);
  max-width: 23.438rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  pointer-events: none;
}

.buttonContainer {
  padding: 0 1rem 0 0;
  pointer-events: auto;
}