.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.25rem;
  overflow: hidden;

  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 1rem;
}

.content {
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .2rem;

  align-items: center;
  flex: 1;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  touch-action: pan-y;
  position: relative;
  height: 100%;
}

.content::-webkit-scrollbar {
  display: none;
}

.content h2 {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0;
}

.socialMediaContainer {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0 1.25rem;
  overflow: hidden;
  width: 80%;
}

.pictureContainer {
  display: flex;
  padding: 0;
  margin-top: .2rem;
}

.pictureContainer img {
  width: 6.25rem;
  height: auto;
  padding: 1px;
  margin: 0;
  border-radius: 1.25rem;
}

.pictureContainer img:hover {
  background-color: var(--color-primary);
}

.linksContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: .3rem;
}

.linksContainer a,
.linksContainer a:link,
.linksContainer a:focus,
.linksContainer a:active {
  text-decoration: none;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 0.313rem;
  padding: 0 .5rem;
  gap: .5rem;
  color: var(--text-color);
  font-weight: 600;
}

.linksContainer a:hover {
  background-color: var(--color-primary);
}

.linksContainer img {
  width: 1rem;
  height: auto;
}

.button {
  background-color: transparent;
  color: var(--text-color);
  border: none;
  cursor: pointer;
  font-size: .9rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

.button:hover,
.button:focus,
.button:active {
  text-decoration: none;
  outline: none;
  border: none;
}

.closeButton {
  color: var(--color-primary);
  font-weight: bold;
}

.donateContainer {
  display: flex;
  width: 100%;
  border: 1px solid red;
  flex-direction: column;
  padding: 0;
  margin: 0;
  padding: .3rem .4rem 0 .4rem;
  margin-top: .4rem;
  text-align: center;
}

.donateContainer p {
  font-weight: bold;
  margin: 0 0 .7rem 0;
}

.donateContainer span {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: .9rem;
  margin: 0 0 0 0;
}

.donateBanners {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
  margin-left: .6rem;
}

.donateBanners img:hover {
  cursor: pointer;
  background-color: var(--color-primary);
  border-radius: 0.313rem;
}

.theterWallet {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-bottom: .1rem;
}

.theterWallet div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.theterWallet img {
  width: 1rem;
  height: auto;
  padding: 0;
  margin: 0 .5rem 0 .2rem;
}

.theterWallet p {
  font-size: .7rem;
  margin: 0;
  padding: 0;
}

.theterWallet div:last-child {
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.theterWallet div:last-child:hover {
  background-color: var(--color-primary);
  border-radius: 0.313rem;
}

.theterWallet span {
  font-size: .60rem;
  margin: 0;
  cursor: pointer;
}