.contactFormContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.2rem;
  margin: 0 auto;
}

.contactFormContainer form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 80%;
  margin: .5rem auto;
}

.contactFormContainer form input {
  border-radius: 0.313rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: var(--background-color-secondary);
  color: var(--text-color);
  font-family: inherit;
  border: none;
  outline: none;
  box-shadow: none;
}

.contactFormContainer form textarea {
  border-radius: 0.313rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: var(--background-color-secondary);
  color: var(--text-color);
  font-family: inherit;
  border: none;
  outline: none;
  box-shadow: none;
  resize: none;
}

.contactFormContainer form button {
  width: 100%;
  border-radius: 0.313rem;
  background-color: var(--color-primary);
  cursor: pointer;
  padding: 0.5rem;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  color: var(--color-white);
}