header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 375px;
  background-color: var(--light-bg);
  color: var(--light-text);
  border-end-end-radius: 0.625rem;
  border-end-start-radius: 0.625rem;
  height: 3rem;
  padding-left: .3rem;
  padding-right: .3rem;
}

.titleContainer {
  display: flex;
  align-items: center;
}

.iconsRightContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  padding-right: .6rem;
}

.appTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  font-size: 1rem;
}

.appTitle h1 {
  margin: 0;
  line-height: 1;
  font-size: 1.25rem;
}

.appTitle span {
  font-size: .6rem;
}