.NoLogsMessageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
  gap: 5rem;
}

.noGap {
  gap: 0;
}

.NoLogsMessageContainer span {
  font-size: 1.2rem;
  font-weight: bold;
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color);
}

.buttonContainer {
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}