html[data-theme="light"] {
  --primary-color: #303030;
  --background-color: #f1ecec;
}

html[data-theme="dark"] {
  --primary-color: #ffffff;
  --background-color: #303030;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: var(--primary-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 375px;
  min-height: 100vh;
}

#root {
  width: 99vw;
  padding: 3rem 0 0 0;
}